body {
    background: url("images/background-interior.png") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    padding: 30px;
    color: #5a3b46;
}

/* NAVBAR */
.navbar {
    background: rgba(255, 210, 230, 0.92);
    padding: 12px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 25px;
}
.navbar a {
    margin: 0 12px;
    font-weight: bold;
    color: #c45a8a;
    text-decoration: none;
}

.logo-small {
    width: 60px;
    vertical-align: middle;
    margin-right: 15px;
}

/* CONTAINERS */
.customer-box, .promo-page, .checkout-box, .about-box {
    background: rgba(255, 240, 245, 0.92);
    padding: 25px;
    border-radius: 20px;
    max-width: 550px;
    margin: auto;
}

/* INPUT */
input, .input-select {
    width: 90%;
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ffb6d9;
}

/* BUTTON */
.btn {
    display: block;
    text-align: center;
    background: #ff7fbf;
    color: white;
    padding: 12px;
    width: 200px;
    margin: 20px auto;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}
.btn:hover { background: #ff5aa8; }

/* MENU GRID */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
    margin: auto;
}
.item {
    background: rgba(255,235,240,0.95);
    padding: 15px;
    text-align: center;
    border-radius: 15px;
}
.item img {
    width: 100%;
    border-radius: 15px;
}

/* CART ICON */
.cart-icon {
    position: fixed;
    right: 25px;
    top: 25px;
    background: #ff7fbd;
    padding: 12px 18px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
#cartCount {
    background: white;
    color: #ff2e92;
    padding: 3px 8px;
    border-radius: 50%;
}

/* ANIMATION */
.fade-in {
    animation: fadeIn 1s ease forwards;
    opacity: 0;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(255, 150, 200, 0.4);
    transition: 0.3s;
}

/* QR Image */
.qris-img {
    width: 200px;
    display: block;
    margin: auto;
}
